.project-chat {
	width: 100%;
	height: 100vh;
	position: relative;
}

/*avatar*/
.avatar {
	border-radius: 50%;
	background: #eee;
	position: relative;
	display: inline-block;
}
.avatar__status {
    display: block;
    position: absolute;
    height: 30%;
    width: 30%;
    background: #1bff7c;
    border-radius: 50%;
    bottom: 0;
    left: 0;
}
.avatar__status--offline {
	display: none;
}
.avatar__status--online {
	display: block;
}

.avatar--default {
	background-image: url(../resources/neptune.png);
	background-size: cover;
}
.avatar-default {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    color: #fff;
}

/*------*/

.contact-box {
	height: 80px;
	width: 100%;
	padding: 20px;/*optimize with inline avater size*/
}
.contact-box__msg {
	color: #7f8c8d;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 75%; /*need optimize*/
    float: right;
    font-size: 15px;
}

.contacts {
	width: 100%;
	height: calc(100% - 120px); /*optimize with avatar size*/
	/*background: orange;*/
	overflow: scroll;
}

/*buttons*/
.btn {
	width: 40px;
    height: 40px;
    color: #9b59b6; /*optimize base on user's choose*/
    line-height: 40px;
    font-size: 20px;
}
.btn--circle {
	border-radius: 50%;
}
.trioBtn {
    height: 40px;
    width: 150px;
    display: inline-block;
    float: right;
}
.trioBtn button {
	margin-left: 10px;
}

/*sidebar*/
.sidebar {
	/*background: #81ECEC;*/
	height: 100%;
	width: 30%;
	position: absolute;
	left: 0;
	top: 0;
	border-right: 1px solid #bdc3c7;

}
.sidebar__head {
	width: fit-content;/*check over browser*/
	margin: 10px auto;
	margin-bottom: 40px;
	position: relative;

}
.sidebar__head::after {
    content: '';
    display: block;
    height: 1px;
    width: 30vw;
    background: #bdc3c7;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

/*room chat*/
.room-wrapper {
	position: absolute;
	height: 100%;
	width: calc(100% - 30%); /*30% sidebar, need optimize add var()*/
	left: 30%;
}
.room {
	background: #fff;
	height: 100%;
	width: 100%;
	position: relative;
}
.room__head {
	width: 100%;
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid #bdc3c7;
}
.chatzone {
	width: 100%;
	height: calc(100% - 60px - 60px);/*60px head, 60px bottom chat input (optimize with var())*/
	overflow: scroll;
}
.chatline {
	height: auto;
	width: 100%;
	display: inline-block;
	margin-top: 50px;
}
.chatbox {
	height: inherit;
    width: 50%;
    padding: 0px 20px;
}
.chatbubble {
	height: inherit;
    width: 90%;
    background: #f1f0f0;
    float: right;
    margin-top: 23px;
    margin-right: 14px;
    padding: 15px;
    line-height: 24px;
    border-radius: 20px;
}
.chattype1 {
	float: left;
}
.chattype2 {
	float: right;
}

.inputzone {
	min-height: 60px;
	height: auto;
	max-height: 300px;
	width: 100%;
	padding: 10px 20px;
	border-top: 1px solid #bdc3c7;
	position: absolute;
	bottom: 0;
	background: #fff;
}
.inputzone__input {
	min-height: 40px;
	height: auto;
	max-height: 200px;
	width: 95%;
	background: #fff;
	display: inline-block;
	border-radius: 25px;
	padding: 10px 25px;
	border: 1px solid #bdc3c7;
}
.inputzone__input__in {
	min-height: 20px;
	height: auto;
	max-height: 150px;
	overflow-y: scroll;
	width: 100%;
	background: transparent;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
.inputzone__input__in:focus {
	outline: none;
}
.inputzone__sendbtn {
	background: transparent;
	height: 40px;
	line-height: 40px;
	width: 40px;
	font-size: 20px;
	float: right;
	color: #bdc3c7;
	border-radius: 50%;
}